@import "tailwindcss";

@layer base {
  button {
    cursor: pointer;

    &:is([disabled]) {
      cursor: not-allowed;
    }
  }
}

@layer components {
  .shadow-soft {
    @apply shadow-md shadow-black/30;
  }
  .shadow-wider {
    @apply shadow-lg shadow-black/50;
  }
  .inner-shadow-soft {
    @apply shadow-sm shadow-primary-500/10 inset-shadow-sm inset-shadow-black/20;
  }
  .inner-shadow-wider {
    box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, 0.3);
  }
}

@layer utilities {
  .shadow-soft-dark {
    box-shadow:
      0 0 0 2px rgba(0, 0, 0, 0.3),
      0 0 8px 8px rgba(0, 0, 0, 0.2);
  }

  .glow-soft {
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.3);
    /* 0 0 12px 2px currentColor; */
  }

  .inner-glow-gradient {
    position: relative;
    overflow: hidden;
  }

  .inner-glow-gradient::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    /* pointer-events: none; */
    top: 2px;
    background: radial-gradient(
      circle at 50% 0%,
      rgba(255, 255, 255, 0.12),
      rgba(255, 255, 255, 0.06) 30%,
      transparent 70%
    );

    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .inner-glow-gradient:hover::after {
    opacity: 1;
  }
}

@theme {
  --color-bg: #0b132b;
  --color-text: #ffffff;

  --color-primary-50: #eefafa;
  --color-primary-100: #d6f2f1;
  --color-primary-200: #aee5e3;
  --color-primary-300: #85d8d5;
  --color-primary-400: #5bc0be;
  --color-primary-500: #5bc0be;
  --color-primary-600: #49a6a4;
  --color-primary-700: #3a8c8a;
  --color-primary-800: #2b7270;
  --color-primary-900: #1c5856;
  --color-primary-950: #0e3c3b;

  --color-secondary-50: #fdf9f1;
  --color-secondary-100: #fbf2e0;
  --color-secondary-200: #f8e6bf;
  --color-secondary-300: #f5dba6;
  --color-secondary-400: #f2cf8d;
  --color-secondary-500: #f2cf8d;
  --color-secondary-600: #d9b977;
  --color-secondary-700: #bfa362;
  --color-secondary-800: #a68d4d;
  --color-secondary-900: #8c7738;
  --color-secondary-950: #5c4f25;

  --color-tertiary-50: #f2f4f8;
  --color-tertiary-100: #d6dbe6;
  --color-tertiary-200: #aeb7cc;
  --color-tertiary-300: #8693b3;
  --color-tertiary-400: #2b3c64;
  --color-tertiary-500: #1a243d;
  --color-tertiary-600: #161f34;
  --color-tertiary-700: #121a2b;
  --color-tertiary-800: #0e1522;
  --color-tertiary-900: #0a1019;
  --color-tertiary-950: #05080d;

  --color-success-50: #e8f7ee;
  --color-success-100: #c6ecd6;
  --color-success-200: #8fdbad;
  --color-success-300: #58ca84;
  --color-success-400: #2fb862;
  --color-success-500: #14a44d;
  --color-success-600: #118e43;
  --color-success-700: #0e7738;
  --color-success-800: #0b602d;
  --color-success-900: #084922;
  --color-success-950: #042713;

  --color-info-50: #eef8fc;
  --color-info-100: #d6eef7;
  --color-info-200: #aeddf0;
  --color-info-300: #85cce8;
  --color-info-400: #5cbbe0;
  --color-info-500: #54b4d3;
  --color-info-600: #469bb5;
  --color-info-700: #398297;
  --color-info-800: #2c6979;
  --color-info-900: #1f505b;
  --color-info-950: #12363d;

  --color-warning-50: #fdf6e8;
  --color-warning-100: #faeacc;
  --color-warning-200: #f5d599;
  --color-warning-300: #efbf66;
  --color-warning-400: #eaaa33;
  --color-warning-500: #e4a11b;
  --color-warning-600: #c38917;
  --color-warning-700: #a27113;
  --color-warning-800: #81590f;
  --color-warning-900: #60410b;
  --color-warning-950: #3a2706;

  --color-danger-50: #fdecee;
  --color-danger-100: #f9d2d8;
  --color-danger-200: #f3a6b1;
  --color-danger-300: #ec7989;
  --color-danger-400: #e64d62;
  --color-danger-500: #dc4c64;
  --color-danger-600: #c43f56;
  --color-danger-700: #a33247;
  --color-danger-800: #822538;
  --color-danger-900: #611829;
  --color-danger-950: #3a0c17;

  --font-heading: Urbanist, system-ui, sans-serif;
  --font-sans: Inter, system-ui, sans-serif;
  --font-mono:
    "JetBrains Mono", SF Mono, SF Mono Regular, Consolas, "Liberation Mono",
    Menlo, Courier, monospace;
  --text-xxs: 12px;
  --text-micro: 9px;
  --default-transition-duration: 500ms;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;

  font: 16px/145% var(--font-sans);
  letter-spacing: 0.18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
}
h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 56px !default;
  letter-spacing: -1.68px !default;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px !default;
  line-height: 118%;
  letter-spacing: -0.24px !default;
  margin: 0 0 8px !default;
  @media (max-width: 1024px) {
    font-size: 20px !default;
  }
}
p {
  margin: 0 !default;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.material-symbols-outlined {
  font-size: 24px;
}

.material-filled {
  font-variation-settings: "FILL" 1;
}

@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
