@import "tailwindcss";

@layer base {
  button {
    cursor: pointer;

    &:is([disabled]) {
      cursor: not-allowed;
    }
  }
}

@layer components {
  .shadow-soft {
    @apply shadow-md shadow-black/30;
  }
  .inner-shadow-soft {
    @apply shadow-sm shadow-primary-500/10 inset-shadow-sm inset-shadow-black/20;
  }
}

@layer utilities {
  .inner-glow-gradient {
    position: relative;
    overflow: hidden;
  }

  .inner-glow-gradient::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    /* pointer-events: none; */
    top: 2px;
    background: radial-gradient(
      circle at 50% 0%,
      rgba(255, 255, 255, 0.12),
      rgba(255, 255, 255, 0.06) 30%,
      transparent 70%
    );

    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .inner-glow-gradient:hover::after {
    opacity: 1;
  }
}

@theme {
  --color-bg: #0b132b;
  --color-text: #ffffff;

  --color-surface: #1c2541;
  --color-surface-light: #2b3c64;
  --color-card: #3a506b;
  --color-card-hover: #4a6785;
  --color-card-dark: #2c435e;

  --color-success-200: #96dfb2;
  --color-success-300: #66ce8d;
  --color-success-400: #3dbd6d;
  --color-success-500: #14a44d;
  --color-success-600: #108a40;
  --color-success-700: #0c6931;
  --color-success-800: #084d24;

  --color-warning-200: #f2cf8d;
  --color-warning-300: #ecb754;
  --color-warning-400: #eaa93d;
  --color-warning-500: #e4a11b;
  --color-warning-600: #c28917;
  --color-warning-700: #946912;
  --color-warning-800: #66480c;

  --color-danger-200: #f1c3c3;
  --color-danger-300: #e98a8a;
  --color-danger-400: #e37070;
  --color-danger-500: #dc4c64;
  --color-danger-600: #bc3f54;
  --color-danger-700: #943242;
  --color-danger-800: #6b2430;

  --color-info-200: #c6e9f1;
  --color-info-300: #9adbed;
  --color-info-400: #75c3db;
  --color-info-500: #54b4d3;
  --color-info-600: #4699b3;
  --color-info-700: #37778b;
  --color-info-800: #285665;

  --color-primary-300: #9fdedd;
  --color-primary-400: #7dcbc9;
  --color-primary-500: #5bc0be;
  --color-primary-600: #42a1a0;
  --color-primary-700: #288280;
  --color-primary-800: #1f6665;

  --color-secondary-400: #ffca82;
  --color-secondary-500: #ff9f1c;
  --color-secondary-600: #6b5d06;
  --color-secondary-700: #1c2541;

  --color-tertiary-200: #798194;
  --color-tertiary-300: #4a5268;
  --color-tertiary-400: #323c54;
  --color-tertiary-500: #1a243d;
  --color-tertiary-600: #151d31;
  --color-tertiary-700: #12192b;
  --color-tertiary-800: #0c111d;

  --font-heading: Urbanist, system-ui, sans-serif;
  --font-sans: Inter, system-ui, sans-serif;
  --font-mono:
    "JetBrains Mono", SF Mono, SF Mono Regular, Consolas, "Liberation Mono",
    Menlo, Courier, monospace;
  --text-xxs: 12px;
  --default-transition-duration: 500ms;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;

  font: 18px/145% var(--font-sans);
  letter-spacing: 0.18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
}
h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 56px !default;
  letter-spacing: -1.68px !default;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px !default;
  line-height: 118%;
  letter-spacing: -0.24px !default;
  margin: 0 0 8px !default;
  @media (max-width: 1024px) {
    font-size: 20px !default;
  }
}
p {
  margin: 0 !default;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.material-symbols-outlined {
  font-size: 24px;
}

.material-filled {
  font-variation-settings: "FILL" 1;
}

@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
